._972a0d22c8afa7f0-channel {
    max-width: unset;
    margin: 2px 0;
    padding: 0 0 0 8px;
    border-radius: var(--indicator-rounding);
    border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
    &:hover {
        background-color: var(--indicator-hover);
    }
    &:has(.bf202d63ad53e289-selected) {
        border-left-color: var(--indicator-selected-border);
        background-color: var(--indicator-selected-background);
        &:hover {
            background-color: var(--indicator-selected-hover-background);
        }
        ._972a0d22c8afa7f0-linkButtonIcon, ._972a0d22c8afa7f0-closeButton {
            color: var(--indicator-selected-border);
        }
    }
    &:has(._20a53846fe2e8513-highlighted) {
        border-left-color: var(--indicator-unread-border);
        background-color: var(--indicator-unread-background);
        &:hover {
            background-color: var(--indicator-unread-hover-background);
        }
        ._972a0d22c8afa7f0-linkButtonIcon, ._972a0d22c8afa7f0-closeButton {
            color: var(--indicator-unread-border);
        }
    }
    .bf202d63ad53e289-interactive {
        background: transparent;
    }
}